<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->

        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div *ngFor="let url of urlArr">
                <!-- <iframe height="800" width="1200" src="url"></iframe> -->
                <pdf-viewer [src]="url" [show-all]="false" [autoresize]="true" [original-size]='true' [fit-to-page]='true' [render-text]='false'></pdf-viewer>
            </div>
        </div>
    </div>
</div>