<div class="container transaction-filters">
    <div class="row">
        <div class="col-sm-2">

            <label>Invoice Status</label>
            <select class="form-control" id="inputType" [(ngModel)]="query.invoice_status_id" name="item" #mode="ngModel">
             <option>All</option>
           <option *ngFor="let item of invoicestatus;  let i=index" [value]='item.id'>{{item.name}}</option>
         </select>
        </div>
        <div class="col-sm-2">
            <label>Payment Status</label>
            <select class="form-control" id="inputType" [(ngModel)]="query.payment_status_id" name="item" #mode="ngModel">
           <option>All</option>
         <option *ngFor="let item of paymentstatus;  let i=index" [value]='item.id'>{{item.name}}</option>
       </select>
        </div>
        <div class="col-sm-2">
            <label>Finance Status</label>
            <select class="form-control" id="inputType" [(ngModel)]="query.finance_status_id" name="item" #mode="ngModel">
         <option>All</option>
       <option *ngFor="let item of financestatus;  let i=index" [value]='item.id'>{{item.name}}</option>
     </select>
        </div>
        <div class="col-sm-2">
            <label>Mode</label>
            <select class="form-control" id="inputType" [(ngModel)]="query.payment_option_id" name="mode" #mode="ngModel">
           <option>All</option>
         <option *ngFor="let mode of paymentMode;  let i=index" [value]='mode.id'>{{mode.name}}</option>
       </select>
        </div>

        <div class="col-sm-2">
            <label>Date Added From:</label>
            <form #myForm="ngForm" novalidate>
                <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="from" required>
                </my-date-picker>
            </form>
        </div>
        <div class="col-sm-2">
            <label>Date Added To:</label>
            <form #myForm="ngForm" novalidate>
                <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="to" required>
                </my-date-picker>
            </form>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-2 col-sm-offset-4">
            <button type="button" class="btn btn-primary" (click)='load()'><i class="fa fa-search"></i></button>
            <button data-toggle="tooltip" class="btn btn-primary " title="clears all filter" (click)="resetFilter()">Clear</button>
        </div>
    </div>

</div>