<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->

        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <tr>
                            <td>
                                <b> Customer Name </b>
                            </td>
                            <td class="col-md-6"> <a [routerLink]="['/customer/'+customer_id]">{{customer}}</a></td>
                        </tr>
                        <tr>
                            <td>
                                <b> Total Purchase </b>
                            </td>
                            <td class="col-md-6"> {{purchase | currency:"&#8377;"}}</td>
                        </tr>
                        <tr>
                            <td>
                                <b> Total Payment </b>
                            </td>
                            <td class="col-md-6"> {{payment | currency:"&#8377;"}}</td>
                        </tr>


                        <tr>
                            <td>
                                <b> Current Due </b>
                            </td>
                            <td class="col-md-6"> {{balance | currency:"&#8377;"}}</td>
                        </tr>
                    </table>
                </div>
                <mat-tab-group [disableRipple]="true" class="transaction">
                    <mat-tab label="Transaction Details">
                        <app-transaction-details></app-transaction-details>
                    </mat-tab>
                    <mat-tab label="Account Person">
                        <div>
                            <table class="table table-bordered">
                                <tr>
                                    <td class="col-sm-2"><b>Name</b></td>
                                    <td class="col-sm-2"><b>Phone Number</b></td>
                                    <td class="col-sm-2"><b>Email</b></td>
                                </tr>
                                <tr *ngFor="let detail of accounts">
                                    <td class="col-sm-2">{{detail?.name}}</td>
                                    <td class="col-sm-2">{{detail?.phone_number}}</td>
                                    <td class="col-sm-2">{{detail?.email}}</td>
                                </tr>
                            </table>
                        </div>
                    </mat-tab>
                    <!-- <mat-tab label="Security"> Content 3 </mat-tab>
                    <mat-tab label="Reco History">Content 4</mat-tab> -->
                </mat-tab-group>

                <!-- <div>
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                <b> Customer Name </b>
                            </td>
                            <td class="col-md-6"> <a [routerLink]="['/customer/'+customer_id]">{{customer}}</a></td>
                        </tr>
                        <tr>
                            <td>
                                <b> Total Purchase </b>
                            </td>
                            <td class="col-md-6"> {{purchase | currency:"&#8377;"}}</td>
                        </tr>
                        <tr>
                            <td>
                                <b> Total Payment </b>
                            </td>
                            <td class="col-md-6"> {{payment | currency:"&#8377;"}}</td>
                        </tr>
                       

                        <tr>
                            <td>
                                <b> Current Due </b>
                            </td>
                            <td class="col-md-6"> {{balance | currency:"&#8377;"}}</td>
                        </tr>
                    </table>
                </div> -->

            </div>

        </div>
    </div>

</div>