<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->

        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <button (click)="create()" class=" btn btn-icon btn-primary" style="margin-bottom: 5px" type="button"><span class=" btn-inner--icon"><i class=" ni ni-fat-add"></i></span><span class=" btn-inner--text">Create Asset </span></button>
            <div class="card shadow">

                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr class="active">
                                <th scope="col">#</th>
                                <th scope="col">Tank ID </th>
                                <th scope="col">Tank Number</th>
                                <th scope="col">Last Reading </th>
                                <th scope="col">Date Added</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let d of data;  let i = index'>
                                <td>{{i+1}}</td>
                                <td [routerLink]="'/asset/'+d.id+'/'" style="cursor: pointer;"><a>{{d?.id}}</a></td>
                                <td>{{d?.tank_unique_name}}</td>
                                <td>{{d?.customer_tank_filling_details[0]?.tank_reading}}</td>
                                <td>{{d?.customer_tank_filling_details[0]?.date_added}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>

<!-- <app-pagination></app-pagination> -->