<div>

    <button type="button" class="btn btn-primary filter-btn" (click)="fill=!fill">
          <mat-icon>filter_list</mat-icon>
        </button>
    <button type="submit" class="btn btn-primary filter-btn" (click)="goBackToTransactionDetails()">Back</button>
    <div *ngIf="fill">
        <app-transaction-filters (result)="filter($event)"></app-transaction-filters>
    </div>


    <mat-tab-group class="transaction-details" mat-stretch-tabs animationDuration="2000ms" mat-align-tabs="center" [disableRipple]="true">
        <mat-tab label="Payments">
            <div class="table-responsive">
                <table class="table align-items-center table-flush">

                    <thead class="thead-light">
                        <tr class="active">
                            <th>Payment Id</th>
                            <th>Finance Status</th>
                            <th>Payment Status</th>
                            <th>Amount </th>
                            <th>Mode Of Payment</th>
                            <th>Date</th>
                            <th>Payment Date</th>
                            <th>Unique Id</th>
                            <th>By</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="success" *ngFor="let data of payments" [routerLink]="['edit-payments/'+data?.id]">
                            <td>{{data?.id}}</td>
                            <td>{{data?.finance_status?.name}}</td>
                            <td>{{data?.payment_status?.name}}</td>
                            <td>{{data?.amount}}</td>
                            <td>{{data?.payment_option?.name}}</td>
                            <td>{{data?.date_added}}</td>
                            <td>{{data?.payment_date}}</td>
                            <td>{{data?.unique_id}}</td>
                            <td>{{data?.by}}</td>
                            <td>{{data?.comment}}</td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <div class="card-footer py-4">

                <app-pagination [pages]='pages' (pagenumber)='selecPage($event)'></app-pagination>
            </div>
        </mat-tab>
        <mat-tab label="Invoices">

            <div class="table-responsive">
                <table class="table align-items-center table-flush">

                    <thead class="thead-light">
                        <tr class="active">
                            <th>Invoice Id</th>
                            <th>Order Id </th>
                            <th>Status</th>
                            <th>Invoice Number</th>
                            <th>Amount</th>
                            <th>Tax</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="danger" *ngFor="let data of invoices" [routerLink]="['invoices/'+data?.id]">
                            <td>{{data?.id}}</td>
                            <td>{{data?.order_id}}</td>
                            <td>{{data?.invoice_status?.name}}</td>
                            <td>{{data?.invoice_number}}</td>
                            <td>{{data?.amount}}</td>
                            <td>{{data?.tax}}</td>
                            <td>{{data?.date_added}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer py-4">

                <app-pagination [pages]='invoicepages' (pagenumber)='selecInvoicePage($event)'></app-pagination>
            </div>


        </mat-tab>

    </mat-tab-group>
</div>