<h1 mat-dialog-title>Address</h1>
<div mat-dialog-content>
    <p>{{data.name}}</p>
    <p>{{data.phone_number}}</p>
    <p>{{data.address_line1}}</p>
    <p>{{data.address_line2}}</p>
    <p>{{data.city}}</p>
    <p>{{data.state}}</p>
    <p>Pincode - {{data.pincode}}</p>

</div>
<div mat-dialog-actions>
    <button type="button" class="btn btn-primary mb-3" (click)="editAddress(data.id)" style="padding: 7px 11px 7px 9px;" [mat-dialog-close]="data.name" cdkFocusInitial><mat-icon>edit</mat-icon>Edit</button>
    <button type="button" class="btn btn-primary mb-3" (click)="onNoClick()">No Thanks</button>

</div>