<button mat-button *ngIf="showSavedAddress" class="btn btn-info" (click)="onBackClick()">Back</button>
<!-- <button mat-button *ngIf="showSavedAddress" class="btn btn-info" (click)="refresh()">Refresh</button> -->
<div class="row" *ngIf="showSavedAddress">

    <div class="col-lg-4 card address-box " *ngFor="let addr of data.billing; let i = index">
        <div mat-dialog-content class=" card-body address-box-child">
            <h5 class="h4 card-title mb-0">{{addr.name}}</h5>
            <small class="text-muted">{{addr.phone_number}}</small>
            <p>{{addr.address_line1}}</p>
            <p>{{addr.address_line2}}</p>
            <p>{{addr.city}}</p>
            <p>{{addr.state}}</p>
            <p>Pincode - {{addr.pincode}}</p>

        </div>
        <div mat-dialog-actions>
            <div class="mt-3">
                <a style="float: left;" (click)="editAddress(addr.id)" class="btn btn-link px-0" cdkFocusInitial>
                    <mat-icon>edit</mat-icon>Edit</a>
                <a style="float: right;" (click)="onNoClick(addr.id)" class="btn btn-link px-0">Use</a>

            </div>
        </div>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="onBackClick()">Back</button>

    </div>
</div>

<div *ngIf="radioDIV">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of items">
            <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item.value}}" (change)="onItemChange(item)" /> {{item.name}}

        </li>
    </ul>
</div>


<h3 *ngIf="showForm">Add New Address</h3>
<mat-dialog-content *ngIf="showForm" class="mat-dialog-scroll">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="addAddressForm" (submit)="saveAddress(addAddressForm.value)">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group row">

                            <div class="col-md-10">
                                <mat-form-field>
                                    <mat-label>Address Line 1</mat-label>
                                    <input matInput class="form-control" type="text" formControlName="address_line1" placeholder="address line 1">

                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="col-md-10">
                                <mat-form-field>
                                    <mat-label>Address Line 2</mat-label>
                                    <input matInput class="form-control" type="text" formControlName="address_line2" placeholder="address line 2">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="col-md-10">
                                <mat-form-field>
                                    <mat-label>Landmark</mat-label>
                                    <input matInput class="form-control" type="text" formControlName="landmark" placeholder="Landmark">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="col-md-10">
                                <mat-form-field>
                                    <mat-label>City</mat-label>
                                    <mat-select formControlName="city">
                                        <mat-option *ngFor="let city of cities" [value]="city.name">{{city.name}}</mat-option>
                                    </mat-select>
                                    <!-- <input matInput class="form-control" type="text" formControlName="city" placeholder="city"> -->
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="col-md-10">
                                <mat-form-field>
                                    <mat-label>Pincode</mat-label>
                                    <input matInput class="form-control" type="number" formControlName="pincode" placeholder="Pincode">

                                </mat-form-field>
                                <mat-error *ngIf="addAddressForm.get('pincode').hasError('pattern')">Invalid Format</mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group row">

                            <div class="col-md-10">
                                <mat-form-field>
                                    <mat-label>Contact Person</mat-label>
                                    <input matInput class="form-control" type="text" formControlName="name" placeholder="Contact Person Name">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="col-md-10">
                                <mat-form-field>
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput class="form-control" type="text" formControlName="phone_number" placeholder="Contact Person Phone">
                                </mat-form-field>
                                <mat-error *ngIf="addAddressForm.get('phone_number').hasError('pattern')">
                                    Invalid format
                                </mat-error>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-md-2">

                        <input class="form-control btn btn-success" [disabled]="!addAddressForm.valid" type="submit" value="Save">
                        <p *ngIf="msg">{{msg}}</p>
                    </div>
                </div>
            </form>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions *ngIf="showForm">
    <button class="btn btn-outline-success" mat-button (click)="onYesClick()" tabindex="1">Close</button>
    <!-- <button class="btn btn-outline-success" mat-button mat-dialog-close tabindex="-1">NO</button> -->
</mat-dialog-actions>


<h3 *ngIf="editON">Edit Address</h3>
<mat-dialog-content *ngIf="editON" class="mat-dialog-scroll">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="editAddressForm" (submit)="updateAddress(editAddressForm.value)">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group row">

                            <div class="col-md-10">
                                <mat-form-field>
                                    <mat-label>Address Line 1</mat-label>

                                    <input matInput class="form-control" type="text" formControlName="address_line1" placeholder="address line 1">
                                </mat-form-field>
                                <input class="form-control" type="hidden" formControlName="id">
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="col-md-10">
                                <mat-form-field>
                                    <mat-label>Address Line 2</mat-label>
                                    <input matInput class="form-control" type="text" formControlName="address_line2" placeholder="address line 2">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="col-md-10">
                                <mat-form-field>
                                    <mat-label>Landmark</mat-label>
                                    <input matInput class="form-control" type="text" formControlName="landmark" placeholder="Landmark">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="col-md-10">
                                <mat-form-field>
                                    <mat-label>City</mat-label>
                                    <mat-select formControlName="city">
                                        <mat-option *ngFor="let city of cities" [value]="city.name | lowercase">{{city.name}}</mat-option>
                                    </mat-select>
                                    <!-- <input matInput class="form-control" type="text" formControlName="city" placeholder="city"> -->
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="col-md-10">
                                <mat-form-field>
                                    <mat-label>Pincode</mat-label>
                                    <input matInput class="form-control" type="number" formControlName="pincode" placeholder="Pincode">

                                </mat-form-field>
                                <mat-error *ngIf="addAddressForm.get('pincode').hasError('pattern')">Invalid Format</mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group row">

                            <div class="col-md-10">
                                <mat-form-field>
                                    <mat-label>Contact Person</mat-label>
                                    <input matInput class="form-control" type="text" formControlName="name" placeholder="Contact Person Name">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="col-md-10">
                                <mat-form-field>
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput class="form-control" type="text" formControlName="phone_number" placeholder="Contact Person Phone">
                                </mat-form-field>
                                <mat-error *ngIf="addAddressForm.get('phone_number').hasError('pattern')">
                                    Invalid format
                                </mat-error>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-md-2">

                        <input class="form-control btn btn-success" [disabled]="!editAddressForm.valid" type="submit" value="Save">

                    </div>
                </div>
                <p *ngIf="updatemsg">{{updatemsg}}</p>
            </form>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions *ngIf="editON">
    <button class="btn btn-outline-success" mat-button (click)="onYesClick()" tabindex="1">Close</button>
    <!-- <button class="btn btn-outline-success" mat-button mat-dialog-close tabindex="-1">NO</button> -->
</mat-dialog-actions>